<div class="row">
	<div class="col-md-4">
		<div class="well">

			<h1>Editing Location</h1>

			<%= render 'form' %>

			<%= link_to 'Show', @location %> |
			<%= link_to 'Back', locations_path %>
		</div>
</div>
</div>